.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #2b293d;
  color: #59c3c3;
  text-shadow: 0 0 5px rgba(89, 195, 195, 0.5);
  padding: 0 29px;
  border: border-box;
  height: 20%;
  font-size: 20px;
  overflow: hidden;
}
